*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container
{
   width:450px;
   height:268px;
   border-radius: 10px; 
   border: 1px solid black;
   display:flex;
   justify-content: center;
   align-items: center;
   gap:30px;
   margin: 400px;
}
.ant img
{
    height:265px;
    width:150px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}
.para1
{
    color:green;
    font-weight: bold;
    padding-left: 140px;
}
i
{
  color:green;
  font-size: 28px;
  padding:10px;
}
.icon1
{
    border-radius: 20px;
    
}