*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: rgb(246, 140, 11);
}
table
{
    width:100%;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
}
.container table tr th
{
    border: 1px solid black;
    /* width:80%; */
    text-align: center;
    vertical-align:middle ;
}
.container table td{
    border: 1px solid black;
}
.container img
{
    height:50px;
    width:50px;
}
i
{
background-color: green;
border-radius: 25px;
height:15px;
width:15px;
color: white;
/* border: 2px solid black; */
}
.fa-xmark
{
    background-color: rgb(182, 2, 2);
    /* font-size: 15px; */
}
.tab1
{
    background-color:rgb(61, 61, 243);
    
}
.tab2
{
    background-color: aquamarine;
}